<label>What is your account balance(US$)?</label><br>
<%= text_field_tag :'user[budget]' %><br>

<label>How many guests are there in your party?</label><br>
<%= text_field_tag :'user[guests]' %><br>

<label>Check box if you have pets</label>
<%= check_box_tag :'user[pets]' %><br>
