
<% if @message %>
<p><%= @message %></p>
<% end %>

<%= render partial: 'form', locals: {user: @user} %>
<% if @user.owner == true %>
<p>OWNER</p>
<% end %>
<%= link_to "See Houses", "/houses" %> &nbsp&nbsp&nbsp&nbsp
<%= link_to "Edit Profile", edit_user_path(@user) %>
