
<p>Name: <%= @user.name %></p>
<p>Budget: <%= @user.budget %></p>
<p>Guests in the party: <%= @user.guests %></p>
<% if @user.owner == true %>
<p>OWNER</p>
<% end %>
<%= link_to "See houses", "/houses" %>
