<h1>All reviews</h1>

<p>Find me in app/views/reviews/index.html.erb</p>


<% @reviews.each do |review| %>
  <%= render partial: 'review', locals: {review: review} %>
<% end %>

<%= link_to "Back to My Profile", user_path(current_user) %>&nbsp&nbsp

<%= link_to "Back to All Houses", houses_path %>
